<div class="siteheader">
  <div class="site-container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-4">
      <div class="main-nav">
        <div class="navbar">
          <div class="container d-flex justify-content-between">
            <button class="navbar-toggler sidebarntn collapsed" type="button">
              <img src="../../../assets/images/mobilemenu.png">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-8 leftbar">
      <a class="bellicon" href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
      <a class="bellicon" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      <p><img src="../../../assets/images/images.jpeg"><a href="#">&#8964;</a></p>
    </div>
       
  </div>
</div>
</div>