<div class="site-sidebar">
    <div class="nav-sidebar">
          <div class="site-logo">
            <img src="assets/images/logo.png" />
          </div>
          <nav class="navbar navbar-expand-md sidebarmenus">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
  
            <div class="" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <i class="fa fa-file-text-o"></i>
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Document Automation<span><i class="fa fa-angle-down"></i></span></a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Invoice</a>
                    <a class="dropdown-item" href="#">Prepayment Invoice</a>
                    <a class="dropdown-item" href="#">Pro Forma Invoice</a>
                    <a class="dropdown-item" href="#">Credit Note</a>
                    <a class="dropdown-item" href="#">Quote</a>
                    <a class="dropdown-item" href="#">Purchasing Order</a>
                  </div>
                </li>
                <li class="nav-item active">
                  <i class="fa fa-tag"></i>
                  <a class="nav-link" href="#">Payments</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-chain"></i><a class="nav-link" href="#">Network</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-search-plus"></i><a class="nav-link" href="#">Fraud and Risk Model </a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-money"></i><a class="nav-link" href="#">Cash Flow</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa fa-clock-o"></i><a class="nav-link" href="#">Time Tracker</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-tablet"></i><a class="nav-link" href="#">App Integration</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-pagelines"></i><a class="nav-link" href="#">Credit</a>
                </li>
              </ul>
            </div>
          </nav>
     
    </div>
  </div>
